.container{
  background-color:rgba(228, 227, 227, 0.925);
  max-width: 70%;
}

h4{
    text-align: center;
}
h5{
    text-align: center;
}
.field{
    border-style: solid;
}
.heading{
    text-align: center;
}



